footer{
    width: 80%;
    margin: 80px auto 30px;
    .hLine{
        height: 1px;
        margin: 0 auto;
        background-color: #5a5a5a69;
        margin: 5px 0;
    }
    .footerContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content:space-between;
    };
    .footerTitle{
        font-family: $font-display;
        font-weight: bold;
        color: #1d1d1f;
        font-size: 16px;
        margin: 16px 0;
        cursor: pointer;
    }
    .footerBody{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        a{
            color: #424245;
            font-family: $font-text-light;
            text-decoration: none;
            margin-bottom: 15px;
            height: auto;
            &:hover {
                font-weight: bold;
            }
        }
    }
    .footerTerms{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        a{
            font-family: $font-text-light;
            color: #282727;
            text-decoration: none;
            font-size: 15px;
            &:hover {
                font-weight: bold;
        }
    }
}
.flexColumn{
    color: #424245b8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-text-light;
        font-size: 15px;
        i{
            margin: 0 6px;
        }
    }
}
    
}

@media (max-width:1000px){
    .footerContainer{
        flex-direction: column;
        align-items: flex-start !important;
        .footerBody{
         margin: 0;
        }
        .hide2{
            display: none;
        }
    }
    .footerTerms{
        margin-top: 30px;
        gap: 0px !important;
        justify-content: space-between !important;

    }

    .flexColumn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width:500px){
.quitar{
    display: none;
}
}